@import 'tailwindcss';

:root {
  --background: #F6EFEE;
  --text-primary: #36311F;
  --text-secondary: #BBAB8B;
  --accent-one: #6096ba;
  --accent-two: #EF8275;
  --accent-three: #028d71;
}

@theme inline {
  --color-background: var(--background);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-accent-one: var(--accent-one);
  --color-accent-two: var(--accent-two);
  --color-accent-three: var(--accent-three);
  --font-sans: var(--font-hanken-grotesk);
  --font-mono: var(--font-hanken-grotesk);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  height: 100vh;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: var(--font-hanken-grotesk);
  margin: 0;
  min-height: 100%;
}